body {
    background: lightgreen;
    background: -webkit-linear-gradient(to right, yellow, lightgreen);
    background: linear-gradient(to right, yellow,lightgreen);
}

.responsive {
    max-width: 100%;
    height: auto;
}

img {
    padding: 15px;
    width: 900px;
}
h1{
    padding-left: 120px;
    font: 20px;
}

.displayBox {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.scroll-box {
    overflow-y: auto;
    height: 500px;
    float: left;
    padding: 1rem;
}
a{
    text-decoration: none;
}